{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-import-graphql"],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
